@model IEnumerable<dccportal.org.Dto.PaymentModelDto>

<div class="content-body">
    <section id="basic-datatable">
        <div class="row match-height">
                        <!-- Medal Card -->
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5>Account Balance</h5>
                                    <h3 class="mb-75 mt-2 pt-50">
                                        <a href="javascript:void(0);">₦ <span id="amount"></span></a>
                                    </h3>
                                    <button type="button" id="spend" class="btn btn-primary">NEW EXPENSE RECORD</button>
                                   
                                    <!-- <img src="../../../app-assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
                                </div>
                            </div>
                        </div>
                        <!--/ Medal Card -->

                        <!-- Statistics Card -->
                        @* <div class="col-xl-8 col-md-6 col-12">
                            <div class="card card-statistics">
                                <div class="card-header">
                                    <h4 class="card-title">Statistics</h4>
                                    
                                </div>
                                <div class="card-body statistics-body">
                                    <div class="row">
                                        <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                            <div class="media">
                                                <div class="avatar bg-light-primary mr-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="trending-up" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body my-auto">
                                                    <h4 class="font-weight-bolder mb-0">@Model.Sex</h4>
                                                    <p class="card-text font-small-3 mb-0">Gender</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                            <div class="media">
                                                <div class="avatar bg-light-info mr-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="user" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body my-auto">
                                                    <h4 class="font-weight-bolder mb-0">@Model.PhoneNumber</h4>
                                                    <p class="card-text font-small-3 mb-0">Phone</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                                            <div class="media">
                                                <div class="avatar bg-light-danger mr-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="box" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body my-auto">
                                                    <h4 class="font-weight-bolder mb-0">@Model.DateOfBirthString</h4>
                                                    <p class="card-text font-small-3 mb-0">DoB</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-6 col-12">
                                            <div class="media">
                                                <div class="avatar bg-light-success mr-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="dollar-sign" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body my-auto">
                                                    <h4 class="font-weight-bolder mb-0">$9745</h4>
                                                    <p class="card-text font-small-3 mb-0">Revenue</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                        <!--/ Statistics Card -->
                    </div>
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title"> @ViewBag.PageName</h4>
                    </div>
                    <div class="card-body">
                        <table id="expense_list" class="table">
                            <thead>
                                <tr>
                                    <th>Initiated By</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Transaction Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                       <tr>
                                            <td>@item.ExpenseBy</td>
                                            <td>@item.Narration</td>
                                            <td>@item.PaymentDate.Value.ToShortDateString()</td>
                                            <td>@item.Amount</td>
                                            <td>@item.TransactionType</td>
                                        </tr>
                                    }

                                }
                                   
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal to add new user starts-->
            <div class="modal modal-slide-in new-user-modal fade" id="modal-slide-in">
                <div class="modal-dialog">
                    <form id="expense-form" class="edit-user modal-content pt-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                        <div class="modal-header mb-1">
                            <h5 class="modal-title" id="exampleModalLabel">Make Payment</h5>
                        </div>
                        <div class="modal-body flex-grow-1">
                            
                            <div class="form-group">
                                <label class="form-label" for="expense-amount">Amount</label>
                                <input type="number" id="expense-amount" class="form-control" />
                               
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="payment-date">Payment Date</label>
                                    <input type="text" id="payment-date" class="form-control flatpickr-basic" placeholder="YYYY-MM-DD" />
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="expenseBy">Expended By</label>
                                <input type="text" id="expenseBy" class="form-control" placeholder="John" />
                            </div>
                             <div class="form-group">
                                <label class="form-label" for="narration">Narration</label>
                                <input type="text" id="narration" class="form-control" placeholder="IT Hangout" />
                            </div>
                            
                           
                            <button type="submit" class="btn btn-primary mr-1 data-submit">Submit</button>
                            <button type="reset" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal to add new user Ends-->
    </section>
</div>

@section HeaderScripts {
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css">
    @* <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css"> *@
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/rowGroup.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/plugins/forms/pickers/form-flat-pickr.css">
}

@section FooterScripts{
    <script src="~/assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/responsive.bootstrap4.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    @* <script src="~/assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script> *@
    <script src="~/assets/vendors/js/tables/datatable/jszip.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="~/assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/js/scripts/forms/pickers/form-pickers.js"></script>
    @* <script src="~/assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/buttons.print.min.js"></script> *@
    <script src="~/assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
    <script src="~/js/expense_entry.js"></script>
} 